/*
* @Author: Gavin
* @Date:   2020-12-29 14:59:56
* @Last Modified by:   Gavin
* @Last Modified time: 2020-12-31 15:04:23
*/


/* VARIABLES */
:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --dark-blue-1: hsl(229, 23%, 23%);
    --dark-gray: hsl(0, 0%, 59%);
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    /* .625 * 16px = 10px */
    box-sizing: border-box;
}


/* BACKGROUND */
body {
    background-color: var(--dark-cyan);
    position: relative;
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
}

.bg-pattern-top {
    height: 45rem;
    width: 100rem;
    position: fixed;
    overflow: hidden;
    transform: rotate(180deg);
    top: 0;
    left: 0;
    margin-left: -20rem;
}

.bg {
    position: relative;
}

.bg-pattern-top img {
    transform: rotate(180deg);
}

.bg-pattern-bot {
    height: 45rem;
    width: 80rem;
    position: fixed;
    bottom: 0;
    right: 0;
    overflow: hidden;
}


/* PROFILE CARD */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.content {
    width: 35rem;
    height: 40rem;
    background-color: #fff;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: var(--dark-gray);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
}

.content-bg {
    background-image: url(images/bg-pattern-card.svg);
    background-size: cover;
    height: 15rem;
}

.content-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
    font-size: 1.4rem;
}

.content-user p {
    margin-top: 1.2rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.content-user p span {
    margin-right: .5rem;
}

.content-user-pic {
    border-radius: 50%;
    border: .5rem solid #fff;
    margin-top: -5rem;
}

.bold {
    font-weight: 700;
    color: var(--dark-blue-1);
    font-size: 1.8rem;
}

.content-info {
    border-top: 1px solid var(--dark-gray);
    height: 9rem;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    align-items: center;
}

.content-info p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mini-text {
    margin-top: .5rem;
    letter-spacing: 1px;
}

@media only screen and (orientation: landscape) and (max-width: 50em) {
    .center {
        height: 100%;
        margin-top: 3rem;
    }
}

@media (max-width: 43.75em) {

    .bg-pattern-top {
        width: 40rem;
    }

    .bg-pattern-bot {
        width: 20rem;
    }
}

@media (max-width: 20.625em) {
    .content {
        width: 30rem;
    }
}

@media (max-width: 18.75em) {
    .content {
        width: 25rem;
    }
}