/*
* @Author: Gavin
* @Date:   2020-12-29 14:59:56
* @Last Modified by:   Gavin
* @Last Modified time: 2020-12-29 15:49:27
*/


/* VARIABLES */
:root {
	--dark-cyan: hsl(185, 75%, 39%);
	--dark-blue-1: blue: hsl(229, 23%, 23%);
	--dark-blue-2: blue: hsl(227, 10%, 46%);
	--dark-gray: hsl(0, 0%, 59%);
}

* {
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%; /* .625 * 16px = 10px */
	box-sizing: border-box;
}

body {
	background-color: var(--dark-cyan);
	position: relative;
	height: 100vh;
}

.bg-pattern-top {
	height: 45rem;
	width: 100rem;
	position: fixed;
	overflow: hidden;
	transform: rotate(180deg);
	top: 0;
	left: 0;
	margin-left: -20rem;
}

.bg-pattern-top img {
	transform: rotate(180deg);
}

.bg-pattern-bot {
	height: 45rem;
	width: 80rem;
	position: fixed;
	bottom: 0;
	right: 0;
	overflow: hidden;
}


